@font-face {
    font-family: OrbitronBlack;
    src: url("./Web Layout/Font/Orbitron/static/Orbitron-Black.ttf");
}

@font-face {
    font-family: OrbitronBold;
    src: url("./Web Layout/Font/Orbitron/static/Orbitron-Bold.ttf");
}

@font-face {
    font-family: MontBold;
    src: url("./Web Layout/Font/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontMedium;
    src: url("./Web Layout/Font/Montserrat/static/Montserrat-Medium.ttf");
}


#products,
#our-team {
    padding-top: 80px;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.show-background {
    animation: showNavBack 2s;
    background-color: black;
}

.language-container {
    text-align: right;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding-right: 2%;
    font-family: MontMedium;
}

.language-container img {
    width: 25px;
    height: 15px;
    margin: 0 3px;
}

#navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.navbar-toggle-icon {
    text-align: right;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navigation-container .navbar-toggler {
    border-color: white;
}


#navbar-container .nav-inside-container {
    padding: 20px 20px;
    padding-top: 30px;
}

#navbar-container .navbar-brand img {
    width: 100px;
}

.navigation-words a {
    color: white;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-family: MontBold;
}

.navigation-words a:hover {
    color: #ff895a;
    text-decoration: underline;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    z-index: -5;
    display: block;
}

#home-img2 {
    display: none;
}

.carousel-text-container {
    position: absolute;
    top: 40%;
    right: 10%;
    color: white;
    font-weight: bold;
    z-index: 3;
    font-family: OrbitronBlack;
}

.about-container {
    display: flex;
    padding-top: 100px;
}

.about-text {
    width: 50%;
    padding: 0 40px;
}

.about-text>h1 {
    font-family: OrbitronBlack;
    color: #ff895a;
}

.about-text p {
    font-family: MontMedium;
    color: #515151;
    font-size: 11pt;
}

.mission-container {
    width: 100%;
    background-image: url("./Web Layout/JPG & PNG/2. About Us/World Map.jpg");
    background-size: 100% 100%;
}

.mission-text-container {
    width: 50%;
    margin-left: 50%;
    color: white;
    padding: 50px;
}

.mission-text-container h3 {
    font-family: OrbitronBlack;
}

.mission-text-container p {
    font-family: MontMedium;
}

#products>.products-title {
    font-family: OrbitronBlack;
    font-size: 50pt;
    color: #a0a0a0;
    text-align: right;
    padding-right: 10px;
}

.wood-pellet-container,
.wood-chips-container {
    display: flex;
    width: 100%;
    padding: 0 40px;
}

.wood-chips-container {
    margin-top: 40px;
}

.product-text {
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-text:nth-child(1) {
    background-image: url("./1.svg");
    padding-right: 30px;
}

.product-text:nth-child(2) {
    background-image: url("./2.svg");
    padding-left: 30px;
}

.product-text>h1 {
    font-family: OrbitronBold;
    color: #ff895a;
}

.product-text>p {
    font-family: MontMedium;
    color: #515151;
    font-size: 11pt;
}

.product-carousel-container {
    width: 40%;
    height: 400px;
    position: relative;
}

.product-carousel-container:nth-child(1) {
    margin-right: 50px;
}

.product-carousel-container:nth-child(2) {
    padding-left: 50px;
}

.product-carousel-container .back-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.product-carousel {
    width: 90%;
}

.carousel-indicators #circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.product-carousel .carousel-control-prev-icon {
    background-image: url("./Web Layout/JPG & PNG/3. Products/Left-Arrow.png") !important;
}

.product-carousel .carousel-control-next-icon {
    background-image: url("./Web Layout/JPG & PNG/3. Products/Right-Arrow.png") !important;
}

.product-img {
    height: 380px;
}

.product-img>img {
    width: 100%;
    height: 100%;
}

#why-us {
    width: 100%;
    background-image: url("./Web Layout/JPG & PNG/4. Why Us/BG-Image.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 100px;
}

.why-us-content {
    width: 25%;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 50px;
    color: white;
    font-family: MontMedium;
}

.why-us-content img {
    width: 45px;
    height: 45px;
}

.why-us-content h5 {
    font-family: MontBold;
    margin: 15px 0;
    font-size: 14pt;
}

.why-us-content p {
    font-family: MontMedium;
    font-size: 11pt;
}

#our-team>span {
    font-family: OrbitronBlack;
    font-size: 50pt;
    color: #a0a0a0;
    padding-left: 10px;
}

.our-team-container {
    display: flex;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
    font-family: MontBold;
    color: #515151;
}

.team-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 5px #ad7e64;
}

.team-content p {
    text-align: center;
    font-family: MontMedium;
}

.footer-container {
    width: 100%;
    background-color: black;
    padding: 100px 50px;
    padding-bottom: 30px;
}

footer {
    display: flex;
    color: white;
}

.contact-foot-container {
    width: 50%;
    text-align: left;
}

.contact-foot-container>h1 {
    font-family: OrbitronBold;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: MontMedium;
}

.contact-form input {
    padding: 5px 0px;
}

.contact-form button {
    width: 100px;
    border-radius: 20px;
    padding: 5px 0;
    background-color: #ff895a;
    font-family: MontBold;
    color: white;
}

.contact-container {
    margin-left: 60px;
}

.contact-container iframe {
    margin-bottom: 10px;
    width: 400px;
    height: 300px;
}

.contact-container .contact-info {
    text-align: left;
    color: white;
    font-family: MontMedium;
    display: flex;
    margin: 10px 0;
    font-size: 12pt;
}

.contact-icon {
    margin: auto 0;
}

.contact-icon:nth-child(1) {
    margin-top: 3px;
}

.contact-container .contact-info .contact-text {
    margin-left: 10px;
}

.footer-container .copyright {
    color: white;
    font-family: MontMedium;
    text-align: center;
    margin-top: 30px;
}

#toggle-btn,
.contact-pop-out a {
    position: fixed;
    display: block;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 90;
}

#toggle-btn {
    background-color: #0f1730;
    height: 60px;
    width: 60px;
    bottom: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 35px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contact-pop-out a {
    background-color: #ff895a;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.pop-out-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 450px) {

    #about-container,
    #mission-container,
    #products,
    #why-us,
    #our-team {
        width: 100vw;
    }

    #home-img1 {
        display: none;
    }

    #home-img2 {
        display: block;
    }

    .carousel-text-container {
        padding-left: 25px;
        right: auto;
    }

    .carousel-text-container h1 {
        font-size: 2rem;
    }

    .about-container {
        flex-direction: column;
    }

    .about-text {
        width: 100%;
    }

    .about-img {
        width: 90%;
    }

    .mission-container {
        background-image: url("./Web Layout/JPG & PNG/3. Products/Brown-Rectangle.jpg");
    }

    .mission-text-container {
        width: 100%;
        margin: 0;
    }

    #products>.products-title,
    #our-team>span {
        font-size: 30pt;
    }

    .product-text {
        width: 100%;
    }

    .product-text:nth-child(1),
    .product-text:nth-child(2) {
        padding: 0 30px;
    }

    .product-carousel-container {
        width: 100%;
    }

    .product-carousel-container:nth-child(1) {
        margin-right: 0px;
        padding-left: 50px;
    }

    .wood-pellet-container,
    .wood-chips-container {
        flex-direction: column;
        padding: 0px;
        margin-top: 40px;
    }

    .wood-chips-container {
        flex-direction: column-reverse;
    }

    .why-us-content {
        width: 50%;
        margin: 0;
        margin-bottom: 50px;
    }

    .why-us-content p {
        display: none;
    }

    .our-team-container {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
    }

    .contact-foot-container {
        width: 100%;
    }

    .contact-container {
        margin: 0;
        max-width: 100%;
    }

    .contact-container iframe {
        width: 95%;
        height: auto;
        margin-top: 35px;
    }
}

@keyframes showNavBack {
    0% {
        background: none;
    }

    100% {
        background-color: black;
    }
}