* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {}

.about-container {
    display: flex;
}

.about-text {
    width: 50%;
}

.mission-container {
    display: flex;

}

.world-map {
    width: 50%;
}

.footer-container {
    width: 100%;
    background-color: black;
    text-align: center;
}

footer {
    display: flex;
    color: white;
}

.contact-foot-container {
    width: 50%;
    text-align: left;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form input {
    padding: 5px 0px;
}

.contact-form button {
    width: 100px;
    border-radius: 20px;
    padding: 5px 0;
}

.footer-container span {
    color: white;
}

#toggle-btn,
.contact-pop-out a {
    position: fixed;
    display: block;
    display: -ms-grid;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

#toggle-btn {
    background-color: #0f1730;
    height: 60px;
    width: 60px;
    bottom: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 35px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contact-pop-out a {
    background-color: black;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.pop-out-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}